openapi: 3.2.0
info:
  title: Data Usage Status API
  description: The SASHIMI API represents a RESTful implementation of SUSHI automation intended to returns COUNTER Research Data Release 1 reports
  termsOfService: ''
  contact:
    name: DataCite Data Usage API
    url: https://metrics.stage.datacite.org
    email: support@datacite.org
  license:
    name: MIT
    url: https://raw.githubusercontent.com/datacite/sashimi/master/LICENSE
  version: 1.0.0
servers:
- url: https://api.datacite.org
  description: Production server
- url: https://metrics.stage.datacite.org
  description: Staging server
security:
- Bearer: []
tags:
- name: status
paths:
  /status:
    get:
      summary: This resource returns the current status of the reporting service supported by this API.
      tags:
      - status
      parameters:
      - name: platform
        in: query
        description: Name of the Platform the report data is being requested for.  This can be omitted if the service provides report data for only one platform.
        schema:
          type: string
      responses:
        '200':
          description: Status of the reporting service(s) supported by this API.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/definitions/Status'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/definitions/Error_Model'
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: Token-based authentication for members
